<div class="footer">
  <a routerLink="/" class="logo">
    <img src="./assets/img/logo-white.png" alt="Site Logo" width="200px">
  </a>
  <div class="footer-menu-nav">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Testimonials</li>
      <li>Contact</li>
    </ul>
  </div>

  <div class="subscribe">
    <label for="email" class="label">Stay in touch with us!</label><br>
    <input name="email" id="email" type="email" placeholder="Email address"><br>
    <button type="button"><strong>SUBSCRIBE</strong></button>
  </div>
  <div class="social-links">
    <ul>
      <li>
        <a href="#">
          <img src="assets/img/insta.png" alt="instagram">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/twitter.png" alt="twitter">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/facebook.png" alt="facebook">
        </a>
      </li>
    </ul>
  </div>
</div>