.footer{
    width:100%;
    height:auto;
    background:#385398;
    padding:1.2rem 1.2rem 0;
    @media screen and (min-width:900px)
    {
        text-align:center;
    }
    @media screen and (min-width:1200px)
    {
        display:grid;
        grid-template-columns:0.5fr 1.3fr 1.2fr 0.5fr;
    }

    .logo{
        img{
            max-width:100%;
            height:auto;
            padding-top: 0.5rem;
            @media screen and (min-width:1300px)
            {
                padding-top: 0.4rem;
            }
        }
    }

    .footer-menu-nav{
        ul{
            padding:1.2rem 0.5rem;
            width:100%;
            list-style-type: none;
            display:flex;
            flex-flow:column nowrap;
            @media screen and (min-width:1200px)
            {
                flex-flow:row nowrap;
                justify-content:space-evenly;
                padding-left: 35px;
            }
            li{
                color:#fff;
                padding:0.3rem 0;
                font-family: Lato;
                font-weight: bold;
                font-size: 13px;
                // line-height: 15px;
                // text-align: left;
                color: #fff;
                text-transform: uppercase;
                &:last-child{
                    padding-bottom:0;

                }
            }
        }
    }
    .subscribe{
        padding: 0 0.5rem;



        .label{
            // font-size:.9em;
            font-size: 16px;
            margin-bottom:.5rem;
            color:#fff;
         .thanks{
            margin-left: 3rem;
            margin-bottom: .5rem;
         }
            @media screen and (min-width:1200px)
            {
                padding-right:7.8rem;
            }
        }

        .label{
              // // width: 281px;
              // // height: 9px;
              // font-family: lato;
              // font-weight: normal;
              // font-size: 14px;
              // // line-height: 20px;
              // // text-align: left;
              // color: #fff;

        }

        input{
            width:300px;
            height:39px;
            border-radius:5px;
            font-size: 0.9em;
            padding:0.5rem;
            border: none;
        }
        button{
            // display:block;
            margin-top:1rem;
            @media screen and (min-width:900px)
            {
                margin:1rem auto;
            }
            @media screen and (min-width:1200px)
            {
                // margin: 1rem 0 1rem -6rem;
                margin: 1rem 0 1rem -8rem;
            }
            // width:200px;
            // height:45px;
            width: 169px;
            height: 35px;
            font-size:0.7em;
            background:#22AD5F;
            border:none;
            color:#fff;
        }
    }

    .social-links{
        ul{
            margin:0;
            padding:1.2rem 0.5rem;
            width:100%;
            list-style-type: none;
            display:flex;
            flex-flow:row nowrap;
            @media screen and (min-width:900px)
            {
                justify-content: center;
            }

            li{
                color:#fff;
                padding:0 1.2rem;
                &:first-child{
                    padding-left:0.3rem;
                }
            }
        }
        img{
            max-width:100%;
            height:auto;
        }
    }
}
