a{
    font-family: lato;
    color: #385398;
}

.btndiv{

    text-align: center;

.searchbtn{
    display:inline-block;
    margin:2rem auto 1rem;
    width:30%;
    height:40px;
    border-radius:5px;
    background:#385398;
    border:none;
    color:#fff;
    font-weight: bold;
    letter-spacing: 1px;
    max-width: 150px;


  }

  #searchbtn1 {


margin-right: 0.5rem;

  }

  #searchbtn2 {


    margin-right: 0.5rem;

      }
}

.comparehosp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1170px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;

.hospdetailCard{
    margin: 1rem 1rem 3rem 1rem;
    height: auto;
    border-radius: 5px;
    // box-shadow: 0px -1px 3px 3px #dcdcdc;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
    width: 90.5%;
    justify-self: center;
    // text-align:center;

    .hospName{
        display:inline-block;
        width: 80%;
        margin:2rem;
        margin-left: 0;
        height: 4rem;
        h5{
            margin:0;
            color:#385398;
            line-height:1.1;
            font-weight:bold;
            font-family: lato;
            font-size: 1.5rem;
            text-align: left;
            // text-align:center;
        }
    }
    .hospReviews{
        width:80%;
        // margin:0 2rem 2rem;
        margin: 2rem;
        margin-top: 0;
        display:flex;
        flex-flow:row nowrap;
        img{
            max-width:100%;
            height:auto;
        }
        span{
            font-size:0.6em;
            padding-left:1rem;
        }
    }
    .hospBody{
        width:80%;
        height:auto;
        margin: 2rem;
        // padding:1rem;
    }
    .hospDetails{
        width:100%;
        height:auto;
        background:#f2f2f2;
        display:flex;
        flex-flow:column nowrap;
        justify-content:center;
        align-items:center;
        @media screen and (min-width:1000px)
        {
            display:grid;
            grid-template-columns:1fr 1fr 1fr;
        }
        div{
            width:100%;
            height:120px;
            border-bottom:1px solid black;
            padding: 2rem 0 0;
            text-align:center;
            @media screen and (min-width:1000px)
            {
                padding:1rem 0 0;
                border-right:1px solid black;
                border-bottom:none;
                &:last-child{
                    border-right:none;
                }
                text-align:center;
            }
            @media screen and (min-width:1200px)
            {
                padding: 2rem 0 0;
            }


            &:nth-child(2),&:nth-child(3)
            {
                padding-top:3rem;
            }
            &:last-child
            {
                border-bottom:none;
            }
        }
    }
    .hospHours{
        display:inline-block;
        width: 100%;
        margin:2rem auto;
        h5{
            margin:0;
            color:#385398;
            line-height:1.1;
            font-weight:bold;
            text-align:center;
            font-family: lato;
            font-size: 1.5rem;
            text-align: left;
            padding: 2rem;
        }
        p{
            margin: 1.5rem 0 1rem;
            font-size: 1.1rem;
            padding: 0 1rem;
            font-family: lato;
            color: #595a5b;

            @media screen and (min-width:1000px)
            {
                padding: 0 0.5rem;
            }
        }
        @media screen and (min-width:700px)
        {
            text-align:center;
        }
        div{
            @media screen and (min-width:1000px)
            {
                display:grid;
                grid-template-columns:1fr 1fr 1fr;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
    .hospDepts{
        display:inline-block;
        width: 100%;

        h5{
            margin:0;
            color:#385398;
            line-height:1.1;
            font-weight:bold;
            text-align:center;
            font-family: lato;
            font-size: 1.5rem;
            text-align: left;
            padding: 2rem;
        }
    }
    .hospheadDepts{
        width:100%;
        display:grid;
        grid-template-columns: 1fr;
        @media screen and (min-width:1000px)
        {
            display:flex;
            flex-flow:row wrap;
            padding:2rem;
        }
        div{
          width: 169px;
// height: 42px;
background: #fff;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

font-family: Lato;
font-weight: 600;
font-size: 17px;
letter-spacing: 0.03em;
// line-height: 28.8px;
// text-align: left;
color: #595a5b;


            // width:150px;
            // height:55px;
            // font-size:0.8em;
            border-radius: 6px;
            // line-height:50px;
            // border:3px solid #385398;
            text-align:center;
            margin: 0 auto 2rem;
            padding:.4rem;
            @media screen and (min-width:1000px)
            {
                flex-grow:1;
                margin:1rem 0.2rem;
            }
        }
    }
}
}

.Main-Compare{
    text-align: center;
}
// .svg{
//     height:550px;
// }
// .svg{
//     text-align:center;
//     width:500px;
//     height:500px;
//     margin:0 auto;
// }
