<div class="about-banner">
  <img src="" alt="">
</div>
<div class="about-content">
  <h1 class="about-heading">About</h1>
  <p>A hospital comparison web app which compares treatments at different hospitals and gives real user feedback. This helps people by telling them about the best hospitals for their illness so that they get the best treatment for their disease.</p>

  <p>Our web application is an easy solution for users to find the best treatment available for them. It uses the real time patient’s feedback dataset of various hospitals. Based on this user feedback, our application lists the best treatments available to the user based on a search term.</p>
  <h1 class="about-heading">Meet the Team</h1>
  <h5 class="about-subheading">None of us is as smart as all of us</h5>
  <div class="cards">
    <div class="about-card">
      <div class="card-img">
        <img src="" alt="">
      </div>
      <div class="card-detail">
        <p><span>Nikhil Khosla</span><br>Designer/QA</p>
      </div>
    </div>
    <div class="about-card">
      <div class="card-img">
          <img src="" alt="">
      </div>
      <div class="card-detail">
          <p><span>Ankur kaul</span><br>Developer/QA</p>
      </div>
    </div>
    <div class="about-card">
      <div class="card-img">
          <img src="" alt="">
      </div>
      <div class="card-detail">
          <p><span>Girik Soni</span><br>PM/Developer/QA</p>
      </div>
    </div>
    <div class="about-card">
      <div class="card-img">
          <img src="" alt="">
      </div>
      <div class="card-detail">
          <p><span>Harpreet kaur</span><br>Designer/QA</p>
      </div>
    </div>
    <div class="about-card">
      <div class="card-img">
          <img src="" alt="">
      </div>
      <div class="card-detail">
          <p><span>Karamjit kaur</span><br>Designer/QA</p>
      </div>
    </div>
    <div class="about-card">
      <div class="card-img">
          <img src="" alt="">
      </div>
      <div class="card-detail">
          <p><span>Ravjeet kaur</span><br>Designer/QA</p>
      </div>
    </div>
  </div>
</div>