@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.about-info{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.about-heading2{
  font-family: Lato;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: -0.01em;
    text-align: CENTER;
    color: #385398;
    margin-top: 4rem;
}

.about-subheading{
  font-family: Lato;
font-weight: normal;
font-size: 18px;
letter-spacing: 0.01em;
// line-height: 23px;
text-align: center;
color: #385398;
margin-bottom: 4rem;

}

.about-container{
  margin-top: 6rem;
}

@media screen and (min-width:720px){
    .about-info{
      width: 68%;
      margin-right: auto;
      margin-left: auto;
  }
}


@media screen and (min-width:1370px){
  .about-info{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
  }


.about-banner{
    width:100%;
    height:300px;
    @media screen and (min-width:720px)
    {
        width:608px;
        height:300px;
    }
    @media screen and (min-width:1000px)
    {
        width:768px;
        height:400px;
    }
    @media screen and (min-width:1200px)
    {
        width:1100px;
        height:500px;
    }

    margin: 2rem auto;
    background:#70f;

    img{
        max-width:100%;
        height:auto;
    }
}
.about-content{
    .about-heading{
        // margin: 0 auto;
        // text-align:center;
        // color:blue;
        // letter-spacing:0.5px;
        font-family: Lato;
        font-weight: normal;
        font-size: 2rem;
        letter-spacing: -0.01em;
        text-align: CENTER;
        color: #385398;
        margin-top: 4rem;
    }
    p{
        font-family: 'Lato', sans-serif;
        font-size:1em;
        line-height:1.8;
        letter-spacing:0.5px;
        // padding: 0 4rem;
        // width: 847px; */
    /* height: 344px; */
    font-family: Lato;
    font-weight: normal;
    letter-spacing: 0.03em;
    line-height: 40px;
    text-align: left;
    color: #828385;
    margin-top: 2rem;
    margin-bottom: 2rem;

        @media screen and (min-width:720px){
            // padding: 0 6rem;
        }
        @media screen and (min-width:800px){
            // padding: 0 8rem;
        }
        @media screen and (min-width:870px){
            // padding: 0 10rem;
        }
        // @media screen and (min-width:1000px)
        // {
        //     padding: 0 10rem;
        // }
        @media screen and (min-width:1100px)
        {
            // padding: 0 13rem;
        }
        @media screen and (min-width:1400px)
        {
            // padding: 0 20rem;
        }
    }
    .about-subheading{
        // text-align:center;
        // color:blue;
        // letter-spacing:0.25px;
    }
}
.cards{
  width: 100%;
  max-width: 1170px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6rem;
    // margin-left:auto;
    // margin-right:auto;
    @media screen and (min-width:720px)
    {
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-column-gap: 1rem;
    }
    @media screen and (min-width:1050px)
    {
        grid-template-columns:1fr 1fr 1fr;
    }
    .about-card{
        width:300px;
        height:392px;
        margin:2rem auto;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        .card-img{
            width:260px;
            height:260px;
            // padding:20px;
            margin:20px;
            box-shadow: 2px 2px 5px 5px #dcdcdc;
            img{
                max-width:100%;
                height:auto;
            }
        }
        .card-detail{
            width:100%;
            height:auto;
            text-align:center;
            p{
                padding:0;
                // margin:0 auto;
                // text-align:center;
                span{
                    color:#70f;
                }
            }

        }
    }
}


.about-container{
  margin-left: 1rem;
    margin-right: 1rem;
}

.about-banner{
  background: url(/assets/img/about-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.about-heading{

}
