<div class="hospdetailCard" *ngFor="let data of mainData">
    <div class="hospName">
      <h5>
        <!-- Jim Pattison Outpatient Care
        and Surgery Centre -->
        {{ data.hospName }}
      </h5>
    </div>

    <div class="hospReviews">
      <img src="./assets/img/rating.png" alt="Ratings">
      <span> 150 Reviews</span>
    </div>

    <div class="hospBody">Provides a full range of scheduled outpatient services including day surgery,
        diagnostic services and specialized health clinics.</div>

    <div class="hospDetails">
      <div>
        <img src="./assets/img/location.png" alt="Location icon">
        <span> {{data.hospAddr}}
          <!-- 9750 140th Street<br>
            Surrey, B.C.  V3T 0G9 -->
        </span>
      </div>
      <div>
          <img src="./assets/img/phone.png" alt="Location icon">
          <span>
            +1-{{data.phone}}
            <!-- +1-604-582-4550 -->

          </span>
      </div>
      <div>
          <img src="./assets/img/web.png" alt="Location icon">
          <span> <a href={{data.website}}>Website</a></span>
      </div>
    </div>

    <div class="hospHours">
      <h5>Visiting Hours</h5>
      <div>
        <p>Monday to Friday: 07:00 - 20:00 </p>
        <p>Saturday and Sunday: 09:00 - 17:00</p>
        <p>Statutory holiday hours: 09:00 - 17:00</p>
    </div>
    </div>

    <div class="hospDepts">
      <h5>Departments</h5>
    </div>
    <div class="hospheadDepts">
      <!-- <div>{{ data.department}}</div> -->
      <div>{{data.department[0]}}</div>
      <div>{{data.department[1]}}</div>
      <div>{{data.department[2]}}</div>
      <div>{{data.department[3]}}</div>
      <div>{{data.department[4]}}</div>
      <!-- <div>Gynaecology</div> -->
    </div>
  </div>
  <div class="diagonal-background"></div>
