.hospdetailCard{
    margin:3rem auto;
    // width:330px;
    width:68.5%;
    height:auto;
    border-radius:5px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    background: white;
    // text-align:center;

    .hospName{
        display:inline-block;
        width: 80%;
        margin:2rem;
        h5{
            margin:0;
            color:#385398;
            line-height:1.1;
            font-weight:bold;
            // text-align:center;
        }
    }
    .hospReviews{
        width:80%;
        margin:0 2rem;
        display:flex;
        flex-flow:row nowrap;
        img{
            max-width:100%;
            height:auto;
        }
        span{
            font-size:0.6em;
            padding-left:1rem;
        }
    }
    .hospBody{
        width:80%;
        height:auto;
        margin: 2rem;
        // padding:1rem;
    }
    .hospDetails{
        width:100%;
        height:auto;
        background:#f2f2f2;
        display:flex;
        flex-flow:column nowrap;
        justify-content:center;
        align-items:center;
        @media screen and (min-width:1000px)
        {
            display:grid;
            grid-template-columns:1fr 1fr 1fr;
        }
        div{
            width:100%;
            height:120px;
            border-bottom:1px solid black;
            padding: 2.2rem 4rem;
            @media screen and (min-width:700px)
            {
                padding: 2.2rem 8rem;
            }
            @media screen and (min-width:900px)
            {
                padding: 2.2rem 13rem;
            }
            @media screen and (min-width:1000px)
            {
                padding:2.8rem 0 2rem;
                border-right:1px solid black;
                border-bottom:none;
                &:last-child{
                    border-right:none;
                }
                text-align:center;
            }

            text-align:left;
            &:nth-child(2),&:nth-child(3)
            {
                padding-top:3rem;
            }
            &:last-child
            {
                border-bottom:none;
            }
        }
    }
    .hospHours{
        display:inline-block;
        width: 100%;
        margin:2rem auto;
        h5{
            margin:0;
            color:#385398;
            line-height:1.1;
            font-weight:bold;
            text-align:center;
        }
        p{
            margin: 1.5rem 0 1rem;
            font-size: 0.9em;
            padding: 0 1rem;
            @media screen and (min-width:1000px)
            {
                padding: 0 0.5rem;
            }
        }
        @media screen and (min-width:700px)
        {
            text-align:center;
        }
        div{
            @media screen and (min-width:1000px)
            {
                display:grid;
                grid-template-columns:1fr 1fr 1fr;
            }
        }
    }
    .hospDepts{
        display:inline-block;
        width: 100%;
        margin:2rem auto;
        h5{
            margin:0;
            color:#385398;
            line-height:1.1;
            font-weight:bold;
            text-align:center;
        }
        @media screen and (min-width:1000px)
        {
            margin:0 auto;
        }
    }
    .hospheadDepts{
        width:100%;
        display:grid;
        grid-template-columns:1fr 1fr;
        @media screen and (min-width:1000px)
        {
            display:flex;
            flex-flow:row wrap;
            padding:2rem;
        }
        div{
            width:150px;
            height:55px;
            font-size:0.8em;
            border-radius: 37px;
            // line-height:50px;
            border:3px solid #385398;
            text-align:center;
            margin: 0 auto 2rem;
            padding:1rem 0.5rem;
            @media screen and (min-width:1000px)
            {
                flex-grow:1;
                margin:1rem 0.2rem;
            }
        }
    }
}
a{
    color:#212523;
}


.diagonal-background{
  position: relative;
  width: 100%;
  height: 8rem;
  background: #ECF0F1;
  z-index: -1;
}
.diagonal-background:after{
  position:absolute;
  width: 100%;
  height: 46rem;
  content: '';
  background: #ECF0F1;
  top: -37rem;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-7deg);
}
