<div class="hospdetailCard">
    <div class="hospName">
      <h5>
        Jim Pattison Outpatient Care
        and Surgery Centre
      </h5>
    </div>

    <div class="hospReviews">
      <img src="./assets/img/rating.png" alt="Ratings">
      <span> 150 Reviews</span>
    </div>

    <div class="hospBody">Provides a full range of scheduled outpatient services including day surgery, 
        diagnostic services and specialized health clinics.</div>
    
    <div class="hospDetails">
      <div>
        <img src="./assets/img/location.png" alt="Location icon">
        <span> 9750 140th Street<br>
            Surrey, B.C.  V3T 0G9
        </span>
      </div> 
      <div>
          <img src="./assets/img/phone.png" alt="Location icon">
          <span> +1-604-582-4550</span>
      </div>
      <div>
          <img src="./assets/img/web.png" alt="Location icon">
          <span> Website</span>
      </div>
    </div>

    <div class="hospHours">
      <h5>Visiting Hours</h5>
      <p>Monday to Friday: 07:00 - 20:00 </p>
      <p>Saturday and Sunday: 09:00 - 17:00</p>
      <p>Statutory holiday hours: 09:00 - 17:00</p>
    </div>

    <div class="hospDepts"> 
      <h5>Departments</h5>
    </div>
    <div class="hospheadDepts">
      <div>Cardiology</div>
      <div>Orthopedic</div>
      <div>ENT</div>
      <div>Elderly Services</div>
      <div>Gastroenterology</div>
      <div>Gynaecology</div>
    </div>
  </div>