
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

//  search
.search-box {

  transform: translate(-50%,-50%);
  background: #252525;


}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn{
  background: whitesmoke;
}
.search-btn {
  color: salmon;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  background: #252525;
  display: flex;
  justify-content: center;
  align-items: center;

}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: whitesmoke;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  }


/* header */
i{

  order: 3;

}
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);

  width: 100%;
  z-index: 3;
  display: grid;
  height: 5rem;
  grid-template-columns: 1fr 2fr 1fr;

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 3px 0px 0px 12px;
  text-decoration: none;
  order: 2;
  flex-basis: 40%;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.mainmenu {

order: 1;
padding-right: 3rem;

}

.logodiv{

order: 2;

}

.search {

order: 3;
justify-self: end;
  i {
    padding: 2rem;
  }

}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 35px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 651px) {

 header{
  grid-template-columns: 0.5fr 0.6fr 0.1fr;
 }

.menu{
  display: flex;
  height: 40px;
}
.mainmenu{
  PADDING-TOP: 0.5REM;
  width: 120%;
}

  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .logodiv{
    order: 1;

  }
 }


 @media (min-width: 1188px){

  .mainmenu{
    width: 140%;
  }

 }
