@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
  background-color: #ecf0f1;
  font-family: Lato;
}



.comp-div-1{
  // color: #828385;
    font-family: lato;
    /* border: 1px solid; */
    letter-spacing: 0.04rem;
    font-weight: 600;
    color: white;
    font-family: lato;
    letter-spacing: 0.04rem;
    font-weight: 600;
    background: #385398;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    // padding: .2rem;
}
    // padding: .3rem;



.comp-div-2{
  // color: #828385;
    font-family: lato;
    /* border: 1px solid; */
    letter-spacing: 0.04rem;
    font-weight: 600;
    color: white;
    font-family: lato;
    letter-spacing: 0.04rem;
    font-weight: 600;
    background: #385398;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    // padding: .2rem;
}
    // padding: .3rem;



// checkboxes*********************************************************************

.narrow{
  font-family: Lato;
font-weight: bold;
font-size: 22px;
letter-spacing: 0.03em;
text-align: left;
color: #385398;

}
  .filter {

    height: 40px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    // border-right: 1.5px solid rgba(112, 112, 112, 0.59);

    margin: 1rem 2rem 1rem 2rem;
    height: 40px;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    justify-content: flex-end;
    padding: 1.5rem 0 2.7rem 2rem;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.16);
    margin-bottom: 0;

  }

  .display-results {

    // color: blue;
    text-align: center;
    margin: 3rem;

    h5{
      font-family: Lato;
      font-weight: bold;
      font-size: 24px;
      color: #385398;
      letter-spacing: 0.03em;
      text-align: center;
    }


    h4 {
      font-weight: bold;

       }
      }


      .comparediv {


        margin: 1rem 2rem 1rem 2rem;
        height: fit-content;
        justify-content: flex-end;
        padding: 1.5rem 1rem 2rem 1.5rem;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        text-align: center;
        border-radius: 5px;
        background: white;

          .compare-btn {

            // padding: 0.7rem 3rem;
            // background-color: green;
            // font-family: lato;
            // color: white;
            font-family: Lato;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0em;
            // line-height: 12px;
            // text-align: left;
            color: #fff;

            text-transform: uppercase;
            // border-radius: 5%;
            width: 152px;
            height: 40px;
            border-radius: 5px;
            background: #22ad5f;
            border: none;

          }
          p {
            // font-size: 0.95rem;
            font-weight: bold;
            overflow: hidden;
            // white-space: nowrap;
            margin-right: 1rem;
            // color: blue;
            font-family: Lato;
            font-weight: 600;
            font-size: 18px;
            // line-height: 21.6px;
            text-align: center;
            color: #385398;
            letter-spacing: 0.04em;

  }



      }

  .hospital-cards {

    text-align: center;
    border-radius: 5px;
    margin: 3rem 2rem;
    // padding: 2.5rem;
    // box-shadow: 1px 1px 2px 3px lightgrey;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.16);
    width: 78%;
    background: white;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width:810px)
    {
      display:grid;
      grid-template-columns:1fr 0.6fr 1fr;
    }
    @media screen and (min-width:1050px)
    {
      // margin: 3rem 4.5rem;
    }
      // &>div{
        // border-right: 1px solid black;
        // padding-right: 1.2rem;
        // &:last-child{
          // border-right:none;
        // }
      // }

      }
      .hospitalname {
        // color: blue;
        font-weight: bold;
      }

      span {

        font-size: 34px;
        margin: 2rem 0 2rem 0.5rem;

      }

      .checked {

        color: yellow;

      }

      i.fas.fa-phone {

        margin: 1rem 6.4rem 1rem 1rem;
      }

        i.fas.fa-globe {

          margin: 1rem 9rem 3rem 1rem;
        }

        .link {

          margin-left: 1rem;
        }
        .updateSearch{
          text-align: center;
          padding: 1rem 1rem 0;
          margin-top: 1rem;
        }
        // .btncompare2{
        //   padding: 0.3rem 3rem;
        //   background-color: #c00;
        //   font-family: lato;
        //   color: white;
        //   border-radius: 5%;
        // }
        .buttoncompare {

          // padding: 0.7rem 3rem;
          // background-color: green;
          // font-family: lato;
          // color: white;
          // border-radius: 5%;
          font-family: Lato;
          font-weight: normal;
          font-size: 14px;
          letter-spacing: 0em;
          color: #fff;
          text-transform: uppercase;
          width: 60%;
          height: 40px;
          border-radius: 5px;
          background: #22ad5f;
          border: none;

        }

        .cmpbtn .buttoncompare{
          background: #385398;
        }

        // .buttoncompare{
        //   text-align: center;
        // }

        // .department{
        //   border-bottom: 1.5px solid rgba(112, 112, 112, 0.59);
        // }
        .type {

          margin: 1rem 2rem 1rem 2rem;
        height: fit-content;
        justify-content: flex-end;
        background: white;
        padding: 0rem 0rem 2rem 0rem;
        // box-shadow: 1px 1px 2px 1px lightgrey;
        // border-right: 1.5px solid rgba(112, 112, 112, 0.59);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

        text-align: left;
        margin-bottom: 0;
        margin-top: 0;
        // border-right: 1.5px solid rgba(112, 112, 112, 0.59);

        }

        span {
          font-size: 1.1rem;
          font-family: Lato;
          font-weight: 500;
          font-size: 16px;
          text-align: left;
          color: #828385;


        }

        label{
          display: block;
          padding: 1rem;
          padding-left: 1.5rem;
          color: #385398;
          font-weight: bold;
          background-color: #ECF0F1;
          font-family: Lato;
          font-weight: bold;
          font-size: 22px;
          letter-spacing: 0.03em;
          text-align: left;


        }

        .hospital, .walkinclinic {

          margin-left: 1.5rem;


        }


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

@media (min-width: 680px ){

  .filter {

    max-width: 800px;

  }

}


@media (min-width: 810px){

  .filter {

    max-width: 322px;
    margin: 0.1rem 0 0 0;
    min-width: 322px;
    // box-shadow: none;
    // border-right: 1.5px solid rgba(112, 112, 112, 0.59);

  }

  .type {

    max-width: 322px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
    // box-shadow: none;

  }

  .maingrid {

    display: grid;
    grid-template-columns: 0.3fr 1.4fr;
    background: #ECF0F1;



  }

  .comparediv{
  // padding: 0.5rem 1rem 1rem 0.5rem;
  // margin: 0px 10rem 0 10rem;
  width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .hospital-cards {
    display: grid;

  }

  .difffilters {
    min-width: 322px;
    display: block !important;
    // background: white;

  }

  .hospitalname {
    font-size: 1rem;

  }

  .hospital-cards {

    font-size: 0.8rem;
    // grid-template-columns: 1fr 1fr 1fr;
    // margin: 3rem 2rem 3rem 2rem;
    // padding: 2rem .5rem 0rem 1rem;

  }

  div.hospital-cards-display:nth-of-type(1){

    display: none;

  }

  .details {

    font-size: 0.8rem;
  }

  .buttoncompare {
    padding: 0.3rem;
  }

  .starrating {

    max-width: 10rem;
  }

  .cmpbtn {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
  }

  .details {

    grid-column: 2/3;
    grid-row: 1/2;
  }

    .fa.fa-star{

      font-size: 0.8rem;

    }

    i.fas.fa-globe {
      margin: 1rem 9rem 3rem 4rem;
    }

    i.fas.fa-phone {

    margin: 1rem 6.4rem 1rem 3rem;
    }


  }
.hospNameCompare{
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: .6rem;
  padding: .6rem;
  align-items: center;
  font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1.3rem;

  @media screen and (min-width: 1200px) {

    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
}
.locationDetailParent{
  text-align:left;
  justify-self:left;
  .locationDetail{
    margin-top: 0.5rem;
  }
}
.phoneDetail{
  margin:1rem auto;
}

.globeDetail{
  margin:1rem auto;
}
.starrating{
  color:#385398;
  margin:0 auto;
  align-self: center;
  h5{
    text-align: left;
  }
}
a{
  color:#385398;
}
.ratingDetail{
  margin:1rem auto 0;
  text-align:left;
  justify-self:center;
}


