<div class="maingrid">



<div class="firstgrid">




<div class="filter" (click)= "filtertoggle()">


<i class="fa fa-filter"></i>
<h5>Narrow your results</h5>

</div>

<div class="difffilters" *ngIf="showhide">

    <div class="type">
    <label for="" style="background-color: slategray;"> Type </label><br>
      <input type="radio" name="hospCategory" value="hospital" class="hospital" #hospital> <span>Hospital</span><br>
      <input type="radio" name="hospCategory" value="walkin" class="walkinclinic" #walkin> <span>Walk in Clinics</span>


    </div>
    <div class="location type">
        <label for="" style="background-color: slategray;"> Location </label><br>
        <input type="radio" name="cities" value="Vancouver" #vancouver class="hospital"> <span>Vancouver</span><br>
        <input type="radio" name="cities" value="Burnaby" #burnaby class="walkinclinic"> <span>Burnaby</span><br>
        <input type="radio" name="cities" value="Surrey" #surrey class="walkinclinic"> <span>Surrey</span><br>
        <input type="radio" name="cities" value="Langley" #langley class="walkinclinic"> <span>Langley</span>
        <!-- <input type="radio" name="cities" value="richmond" #richmond class="walkinclinic"> <span>Richmond</span> -->
    </div>
    <!-- <div class="distance type">
        <label for="" style="background-color: slategray;"> Distance </label><br>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <br> <h6> In Kms </h6>
    </div> -->

    <div class="department type">

        <label for="" style="background-color: slategray;"> Department </label><br>
        <input type="checkbox" name="" value="cardiology" #cardiology class="hospital"> <span>Cardiology</span><br>
        <input type="checkbox" name="" value="neurology" #neurology class="walkinclinic"> <span>Neurology</span><br>
        <input type="checkbox" name="" value="general surgery" #general class="hospital"> <span>General Surgery</span><br>
        <input type="checkbox" name="" value="dermatology" #dermatology class="walkinclinic"> <span>Dermatology</span><br>
        <input type="checkbox" name="" value="dental care" #dental class="hospital"> <span>Dental Care</span><br>
        <div class="updateSearch">
        <!-- <button type="reset" class="btncompare2">Reset</button> -->
        <button class="buttoncompare" (click)="updateSearch(hospital,walkin,vancouver,burnaby,surrey,langley,cardiology,neurology,general,dermatology,dental)">Update Search</button>
      </div>
    </div>

    </div>

    <div *ngIf="!boolean"></div>

  </div>

<div class="2ndgrid" style="padding-right: 2rem;">

<div class="display-results">

<h5>8 results for pediatrics near Vancouver</h5>

</div>

  <div class="comparediv">

  <p> choose upto 2 hospitals to compare</p>

  
  <div *ngIf="comparepressed" class="hospNameCompare">

  

    <div class="comp-div-1">{{ abc.textContent }}</div>

    <div class="comp-div-2">{{ xyz.textContent }}</div>
  
  </div>
  
  <div>

  <button class="compare-btn" (click)="compareData()"> Compare </button>
    


</div>


</div>
<div class="hospital-cards" *ngFor="let data of maindata">
   
  <div class="starrating">
  <h5 class="hospitalname" ng-model="hospitalname" #cmp>  {{ data.hospName }}  </h5>

  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>
</div>
<br>
<div class="details">
<i class="fas fa-map-marker" aria-hidden="true"></i> {{data.hospAddr}} <br> {{data.city}}<br>
<i class="fas fa-phone"> {{data.phone}} </i><br>
<i class="fas fa-globe"> <button>{{data.website}}</button> </i>
</div>
<br>
<div class="cmpbtn">
<button class="buttoncompare" (click)="addtocompare(cmp)" >ADD TO COMPARE</button>
</div>
</div>

</div>

