<div class="filter">


<i class="fa fa-filter"></i>
<h5>Narrow your results</h5>


</div>

<div class="display-results">

<h5>8 results for pediatrics near Vancouver</h5>

</div>

<div class="comparediv">

  <p> choose upto 2 hospitals to compare</p>
<button class="compare-btn"> Compare </button>


</div>

<div class="hospital-cards">

  <h5 class="hospitalname">Jim Pattison Outpatient Care and Surgery Centre </h5>

  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>

<br>
<i class="fas fa-map-marker" aria-hidden="true"></i> 9750 140th street <br> Surrey B.C.<br>
<i class="fas fa-phone"> 123456789 </i><br>
<i class="fas fa-globe"> <button>link</button> </i>
<br>
<button class="buttoncompare">ADD TO COMPARE</button>

</div>

<!-- 2nd div -->
<div class="hospital-cards">

    <h5 class="hospitalname">Jim Pattison Outpatient Care and Surgery Centre </h5>

    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>

  <br>
  <i class="fas fa-map-marker" aria-hidden="true"></i> 9750 140th street <br> Surrey B.C.<br>
  <i class="fas fa-phone"> 123456789 </i><br>
  <i class="fas fa-globe"> <button>link</button> </i>
  <br>
  <button class="buttoncompare">ADD TO COMPARE</button>

  </div>

  <!-- 3rd div -->
  <div class="hospital-cards">

      <h5 class="hospitalname">Jim Pattison Outpatient Care and Surgery Centre </h5>

      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>

    <br>
    <i class="fas fa-map-marker" aria-hidden="true"></i> 9750 140th street <br> Surrey B.C.<br>
    <i class="fas fa-phone"> 123456789 </i><br>
    <i class="fas fa-globe"> <button>link</button> </i>
    <br>
    <button class="buttoncompare">ADD TO COMPARE</button>

    </div>

    <!-- 4th div -->
    <div class="hospital-cards">

        <h5 class="hospitalname">Jim Pattison Outpatient Care and Surgery Centre </h5>

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>

      <br>
      <i class="fas fa-map-marker" aria-hidden="true"></i> 9750 140th street <br> Surrey B.C.<br>
      <i class="fas fa-phone"> 123456789 </i><br>
      <i class="fas fa-globe"> <button>link</button> </i>
      <br>
      <button class="buttoncompare">ADD TO COMPARE</button>

      </div>
