

.banner {

width: 100%;
height: 100vh;
background-color: blue;
text-align: center;

  .searchdiv {
    height: 60%;
    width: 80%;
    margin: 0 auto;
    background-color: rgba($color: white, $alpha: 0.2);
    text-align: left;
    // margin-bottom:1rem;

  }

  .bannertext{

    color: white;
    // font-weight: bolder;
    padding-top: 15%;
  }

  input[type="text"]{
    width: 87%;
    height: 40px;
    // box-shadow: 0 0.5px 2px 2px cyan;
    outline: none;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    margin-left: 1rem;
  }



  label{
    margin:1.5rem 1rem 0;
color: white;
font-weight: bold;
  }

  input[type="radio"]{
    margin:0 0 0 1rem;


  }

  .radiobtntxt{
    color: white;
    padding:0.6rem;
  }
  #search{
    margin:1rem;
    width:360px;
    height:40px;
    border-radius:5px;
    background:#385398;
    border:none;
    color:#fff;
  }

}


