<div class="banner">
  <img src="./assets/img/banner-logo-mobile.png" alt="" class="banner-logo-mobile">
  <div class="transLayer"></div>
  <h2 class="bannertext" >

    Find the right hospital
    <br> Get the best care

  </h2>

  <div class="searchdiv">

    <label for="SearchHospital"> Search hospitals, clinics or procedure </label>
    <input type="text" id="searchinput">

    <label for="City"> Select City</label>
    <input type="text"><br>

    <input type="radio" value="Hospital" name="checked"> <span class="radiobtntxt">Hospital</span>
    <input type="radio" value="Walk In Clinic" name="checked"> <span class="radiobtntxt">Walk In Clinic</span>
    <button type="button" id="searchBtn">SEARCH</button>
  </div>

</div>

<div class="reviewHeading">
  <h2>Hospital Reviews</h2>
  <h6>Sharing your experience can help someone<br>to get the care they need.</h6>
</div>

<div class="reviewCard">
  <div class="reviewImg">
    <img src="./assets/img/reviewHome1.png" alt="Review home image1">
  </div>
  <div class="reviewFor">Review for</div>
  <div class="hospClinicName">Jim Pattison Outpatient Care
      and Surgery Centre</div>
  <div class="ratings">
    <img src="./assets/img/rating.png" alt="Ratings">
  </div>
  <div class="reviewBody">Nothing unpleasant happened in five sessions that we had to be there and we received adequate level... Read More</div>
</div>

<div class="reviewCard">
  <div class="reviewImg">
    <img src="./assets/img/reviewHome2.png" alt="Review home image1">
  </div>
  <div class="reviewFor">Review for</div>
  <div class="hospClinicName">Jim Pattison Outpatient Care
      and Surgery Centre</div>
  <div class="ratings">
    <img src="./assets/img/rating.png" alt="Ratings">
  </div>
  <div class="reviewBody">Nothing unpleasant happened in five sessions that we had to be there and we received adequate level... Read More</div>
</div>

<div class="reviewCard">
  <div class="reviewImg">
    <img src="./assets/img/reviewHome3.png" alt="Review home image1">
  </div>
  <div class="reviewFor">Review for</div>
  <div class="hospClinicName">Jim Pattison Outpatient Care
      and Surgery Centre</div>
  <div class="ratings">
    <img src="./assets/img/rating.png" alt="Ratings">
  </div>
  <div class="reviewBody">Nothing unpleasant happened in five sessions that we had to be there and we received adequate level... Read More</div>
</div>
