
<div class="banner">
  <h2 class="bannertext" >Find the right hospital
    <br> Get the best care</h2>
  <!-- <h2 class="bannertext" >{{query1}} {{query2}}</h2> -->

  <div class="searchdiv">

    <div>
      <label for="SearchHospital"> Search department or procedure  </label>
      <input type="text" id="searchinput" placeholder="(Optional)" [(ngModel)]="query1">
      <!-- <select type="text" id="query1Select" multiple>
      </select> -->
      <!-- <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form> -->
    </div>
    <div>
      <label for="City" class="city"> Select City</label>
      <!-- <input type="text" id="searchcity" [(ngModel)]="query2"><br> -->
      <select name="city" id="searchcity" [(ngModel)]="query2">
        <option value="all_cities">--Select all--</option>
        <option value="Burnaby" selected="selected">Burnaby</option>
        <option value="Vancouver">Vancouver</option>
        <option value="Surrey">Surrey</option>
        <option value="Richmond">Richmond</option>
      </select>
    </div>
    <!-- <div> -->
      <!-- <input type="radio" value="Hospital" name="checked"> <span class="radiobtntxt">Hospital</span> -->
      <!-- <input type="radio" value="Walk In Clinic" name="checked"> <span class="radiobtntxt">Walk In Clinic</span> -->
    <!-- </div> -->
    <button type="button" id="searchBtn" (click)="post()">SEARCH</button>
  </div>

</div>

<div class="reviewHeading">
  <h2>Hospital Reviews</h2>
  <h6>Sharing your experience can help someone<br>to get the care they need.</h6>
</div>
<div class="reviewCard-parent">
  <div class="reviewChild1">
    <div class="reviewCard">
      <div class="reviewImg">
        <img src="./assets/img/reviewHome1.png" alt="Review home image1">
      </div>
      <div class="reviewFor">Review for</div>
      <div class="hospClinicName">Jim Pattison Outpatient Care
          and Surgery Centre</div>
      <div class="ratings">
        <img src="./assets/img/rating.png" alt="Ratings">
      </div>
      <div class="reviewBody">Nothing unpleasant happened in five sessions that we had to be there and we received adequate level... Read More</div>
    </div>

    <div class="reviewCard">
      <div class="reviewImg">
        <img src="./assets/img/reviewHome2.png" alt="Review home image2">
      </div>
      <div class="reviewFor">Review for</div>
      <div class="hospClinicName">Jim Pattison Outpatient Care
          and Surgery Centre</div>
      <div class="ratings">
        <img src="./assets/img/rating.png" alt="Ratings">
      </div>
      <div class="reviewBody">Nothing unpleasant happened in five sessions that we had to be there and we received adequate level... Read More</div>
    </div>

    <div class="reviewCard">
      <div class="reviewImg">
        <img src="./assets/img/reviewHome3.png" alt="Review home image3">
      </div>
      <div class="reviewFor">Review for</div>
      <div class="hospClinicName">Jim Pattison Outpatient Care
          and Surgery Centre</div>
      <div class="ratings">
        <img src="./assets/img/rating.png" alt="Ratings">
      </div>
      <div class="reviewBody">Nothing unpleasant happened in five sessions that we had to be there and we received adequate level... Read More</div>
    </div>
  </div>
  <div class="reviewChild2">
    <div class="reviewCard2">
      <div class="reviewImg2">
        <!-- <img src="./assets/img/hospiBed.png" alt="Review Home image4"> -->
        <img src="./assets/img/reviwHome5.png" alt="Review Home image5">
      </div>
      <div class="reviewBody2">
          A hospital comparison web app which compares treatments
          at different hospitals and gives real user feedback.
          This helps people by telling them about the best hospitals
          for their illness so that they get the best treatment for their disease.<br><br>

          Our web application is an easy solution for users to find the best
          treatment available for them. It uses the real time patient’s feedback
          dataset of various hospitals. Based on this user feedback,
          our application lists the best treatments available to the user based on a search term.
      </div>
    </div>
  </div>
</div>
