<div class="banner">
  <h2 class="bannertext" >

    Find the right hospital
    <br> Get the best care

  </h2>

  <div class="searchdiv">


    <label for="SearchHospital"> Search hospitals, clinics or procedure </label>
    <input type="text" id="searchinput">

    <label for="City"> Select City</label>
    <input type="text"><br>

    <input type="radio" value="Hospital" name="checked"> <span class="radiobtntxt">Hospital</span>
    <input type="radio" value="Walk In Clinic" name="checked"> <span class="radiobtntxt">Walk In Clinic</span>
    <button type="button" id="search">SEARCH</button>
  </div>



</div>
